# Object files
*.o
*.ko
*.obj
*.elf

# Misc
*.txt
testfiles/enwik8
testfiles/mb*
testfiles/TestFiles
HuffmanCoding_MPI_CUDA

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Folders
/Backup
/Old
/scripts
/.vs
/.vscode
